Hello,
$!employee has just completed their self-assessment.
Please complete the $!reviewer assessment now and no later than $!deadline.
You can access the assessment here https://appraisal.westernacher.com

Thank you
