Hello,
$!employee has just completed their self-assessment.
Please complete the Contributor assessment now and no later than December 10.
You can access the assessment here [link to tool].

Thank you
